<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Search</title>
    <link rel="stylesheet" href="/css/usersingin.css">
</head>
<body>
    <form action="/user/search/" method="post">
        <h1>Digite o nome do Usuário que deseja buscar :</h1>
        <br>
        <div>
            <input type="text" name="name" placeholder="Nome do usuário"/>
        </div>
        <br><br>
        <div>
            <input type="submit" value="Pesquisar"/>
        </div>
    </form>
</body>
</html>