<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD USER</title>
    <link rel="stylesheet" href="/css/usersingin.css">
</head>
<body>
    <h1>
        CADASTRO DE USUÁRIO
    </h1>
    <form action="/user/save" method="POST">
        <div>
            <h2>Digite seu Usuario :</h2>
            <input type="text" name="name" id="" placeholder="Digite seu usuário aqui :"/>    
        </div>
        <br>
        <div>
            <h2>Digite sua senha</h2>
            <input type="text" name="passcode" id="" placeholder="Digite sua senha :"/>
        </div>
        <br>
        <div>
            <h2>Confirme sua Senha</h2>
            <input type="text" name="passconfirm" id="" placeholder="Confirme sua senha :"/>
        </div>
        <div>
            <input type="submit" value="Cadastrar"/>
        </div>
    </form>
    <br><br><br>
    <a href="/">HOME</a>
    
</body>
</html>